  <style>
    h1{
    color: mediumpurple;  
    text-align: center;
    }
    h2{
      color: deeppink
    }
    h3{
      color: deeppink
    }
    h4{
      color: mediumpurple
    }
    p{
      color: mediumaquamarine
    }
  </style>
